:root {
    --primary-text-color: #fff;
    --secondary-text-color: #afafaf;
    --page-background: rgb(32 32 35);
    --active-color: rgb(199 199 199);
    --active-color-transparent: rgb(199 199 199 / 15%);
}