:root {
    --primary-text-color: #333333;
    --primary-text-color-inversion: #fff;
    --secondary-text-color: #585858;
    --page-background: #fff;
    --active-color: rgb(20 100 255);
    --active-color-transparent: rgb(20 100 255 / 10%);
}
